@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Schedule;
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="containder">


    <h2>Agendamento:</h2>
       
    <div id="ControlRegion">

        <ejs-schedule id="schedule" height="550px" selectedDate="new DateTime(2023, 8, 20)" locale="pt">
            <e-schedule-eventsettings dataSource="@ViewBag.datasource">

            </e-schedule-eventsettings>
        </ejs-schedule>
    </div>

</div>


<script>

    loadCultureFiles('pt');
    function loadCultureFiles(name) {
        var files = ['ca-gregorian.json', 'numbers.json', 'timeZoneNames.json'];
        var loader = ej.base.loadCldr;
        var loadCulture = function (prop) {
            var val, ajax;
            ajax = new ej.base.Ajax(location.origin + '/../cldr-data/main/' + name + '/' + files[prop], 'GET', false);
            ajax.onSuccess = function (value) {
                val = value;
            };
            ajax.send();
            loader(JSON.parse(val));
        };
        for (var prop = 0; prop < files.length; prop++) {
            loadCulture(prop);
        }
    }

</script>